.osm-location-picker {
  width: 100%;
  border-radius: 0px;
}

.osm-location-picker-result {
  background: #fff;
  max-height: 250px;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2px;
}

.map-list-item {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.map-list-item:hover {
  background: #eee;
}
.map-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.result-text {
  text-transform: capitalize;
}
